{% extends "socialaccount/base.html" %}
{% load crispy_forms_tags %}

{% load url from future %}
{% load i18n %}


{% block page_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="col-md-8">
    <h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}
    {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-info">{% trans "Sign Up" %}</button>
</form>

</div>
{% endblock %}