{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block page_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="col-md-8">
<h1>{% trans "Login" %}</h1>

{% if socialaccount.providers  %}
<p>Sign in with Facebook Or, <a href="{{ signup_url }}">Sign Up</a>
for a {{site_name}} account and sign in below:</p>

<div class="socialaccount_ballot">


<a href="/accounts/facebook/login/" class="btn btn-social btn-facebook">
<i class="fa fa-facebook"></i> Sign in with Facebook
</a>
  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-info" type="submit">{% trans "Sign In" %}</button>
  <a class="btn" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  
</form>
</div>
{% endblock %}