{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="col-md-8">
<h1>{% trans "Logout" %}</h1>

<p>{% trans 'Are you sure you want to Log out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
  {% endif %}
  <button class="btn btn-info" type="submit">{% trans 'Logout' %}</button>
</form>

</div>
{% endblock %}