{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block page_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="col-md-8">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="action" class="btn btn-default" />{% trans "Change Password" %}</button>
    </form>
    </div>
{% endblock %}

