{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load url from future %}
{% load i18n %}


{% block page_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="col-md-8">
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">login</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-info">{% trans "Sign Up" %}</button>
</form>
</div>
</div>

{% endblock %}