body {
    padding-top: 60px;
}

hr {
    margin: 10px 0;
}

a {
	color: #1abc9c;
	word-wrap: break-word;
}

a:hover, a:focus {
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}

a.btn:hover {
    color: #757575;
}

a.edit {
    background: #16a085;
    padding: 3px;
    border-radius: 3px;

    color: #fff !important;
}

a.edit:hover {
    color: #ddd !important;
}



/** Nav **/
.navbar-inverse {
background-color: #2c3e50;
}

#logo {
    max-height: 50px;
    margin-top: -14px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #18bc9c;
}

/*** Main **/
#main {
    margin-top: 30px;
    margin-bottom: 0px;
    min-height: 300px;
}
.post-index {
    padding: 15px 0px;
    border-bottom: 1px solid #e6e6e6;
}

.post-index h3 {
    margin-top: 0px;
}

.post-single {
    padding-bottom: 30px;
}

.title {
    color: #2c3e50;
    font-weight: normal;
    margin-top: 10px;
    font-size: 24px;
}

p.notice {
    font-size: 18px;
    font-weight: bold;
}

ul.list {
    padding-left: 0;
}

ul.list li {
    list-style: none;
    padding: 5px 0;
    /*border-bottom: 1px solid #f6f6f6;*/
}

ul.list li a {
    font-weight: bold;
}

ul.list li a em {
    font-weight: normal;
}

ul.alt-list li {
    padding-left: 10px;
}

ul.alt-list li:nth-child(odd) {
    background: #fafafa;
}

ul.list.popular li {
    border-bottom: none;
}
ul.meta li {
    font-size: 13px;
    font-style: italic;
    margin:0;
    padding: 2px 0;
}

.meta-div {
    max-width: 360px;
    border: 2px solid #dce4ec;
    padding: 10px;
    border-radius: 5px;
    background: #fafafa;
}


textarea#tbody.form-control {
    min-height: 200px !important;
}


.italic {
    font-style: italic;
}



p.views {
    font-size: 13px;
    font-style: italic;
}

ul.filter {
    padding-left: 0px;
    margin-bottom: 0px;
}

ul.filter li {
    list-style: none;
    display: inline-block;
}

ul.filter li a {
    background: #f6f6f6;
    padding: 3px 10px;
    margin-bottom: 10px !important;
    display: inline-block;
}

.sort-by-key {
    margin-bottom: 10px;
}

.p-strong {
    font-size: 13px;
    font-weight: bold;
}

.pagination {
    margin-left: -20px;
}

/*** Sidebar ***/
#sidebar {
    padding-top: 0px;
}


/*** Song Page **/

.tags a {

    background: #ecf0f1;
    color: #1abc9c;
    border-radius: 3px;
    padding: 3px 5px;
}

pre {
    background: none;
    border: none;
    color: #525252;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*** Search Banner ***/

#banner {
    background: #eff0f2;
    padding: 30px 0;
    margin-bottom: 15px;
}

.search-form-div {
    
    float: none;
    margin: auto;
}

#id_q {
    width: 85%;
    float: left;
    margin-right: 5px;
    height: 45px;
}


/*** Form add **/

#id_body {
    min-height: 480px;
}

select.form-control {
    max-width: 50%;
}

ul.list.add-song {
    border: 2px solid #dce4ec;
    padding: 10px;
    border-radius: 5px;
    background: #fafafa;
}

/** All Auth **/

ul.socialaccount_providers {
    padding-left: 0;
}

ul.socialaccount_providers li {
    list-style: none;
}

.socialaccount_ballot {
    text-align: center;
    padding-top: 15px;
}
.login-or {

    font-size: 24px;
}


#social-div {
    margin-top: 30px;
    margin-left: -20px !important;
}

.btn-social>:first-child {
    font-size: 2em;
    padding-top: 5px;
}
/*** FOOTER ***/
#footer {
    margin-top: 10px;
	background-color: #eee;
	padding-top: 30px;
	padding-bottom: 30px;
}

#footer {
	color: #7b8a8b
}

ul.social  {
    padding-left: 0;
}

ul.social  li {
    list-style: none;
    display: inline;
    font-size: 32px;
    margin: 0 5px;
}

ul.social li a {
    color: #7b8a8b;
}

ul.social li a:hover {
    color: #1abc9c;
}




/** utils **/
.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.md-text {
    font-size: 18px;
}

.lg-text {
    font: 22px;
}


@media (max-width: 767px) {

  .pull-right {
    float: none!important; 
  }

  select.form-control {
    max-width: 100%;
}

}

@media (max-width: 480px) {
#id_q {
    width: 100%;
    float: left;
    margin-right: 0px;
}

#search-btn {
    margin-top: 5px;
    width: 100%;
}


}


