{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}Add Tag{% endblock %}

{% block content %}
<div class="col-md-8">
<h2 class="title">Add Tag</h2>

<form action="" method="POST">

{% csrf_token %}

{{ form|crispy}}


<input type="submit" value="Add" class="btn btn-default">

</form>
</div>
{% endblock %}

{% block sidebar %}
<ul class="list add-song">
<li><a href="{% url 'song_add' %}">Add Song</a></li>
<li><a href="{% url 'artist_add' %}">Add Artist</a></li>
<li><a href="{% url 'tag_add' %}">Add Tag</a></li>
</ul>

{% endblock %}