{% extends 'base.html' %}

{% block page_title %}Praise and Worship Chords {% endblock %}

{% block banner %} 
 <div id="banner">
<div class="container">
    <div class="search-form-div col-md-8 col-md-offset-2">
        <form action="search/" method="get">
        <div class="form-group"><input id="id_q" name="q" type="text" class="form-control" placeholder="Search Song" required></div>
        <div class="form-group"><input type="submit" value="Go" class="btn btn-danger" id="search-btn"></div>
        </form>

    </div>
   

</div>

</div>


{% endblock %}

{% block content %}

        <h3 class="title">Recently Added Songs</h3>
        <ul class="list">
        {% for song in songs %}
           <li> <a href="{% url 'song_detail' song.slug %}"><strong>{{ song.title }}</strong> </a> by <a href="{% url 'artist_detail' song.artist.slug %}"><em>{{ song.artist }}</em></a></li>
        {% endfor %}
    </ul>

    <hr>







{% endblock %}

{% block sidebar %}
        <h4>Most Viewed Songs</h4>

    <ul class="list popular">
         {% for song in pop_songs %}
        <li><a href="{% url 'song_detail' song.slug %}">{{ song.title }}</a></li>
    {% endfor %}
    </ul>
  {% endblock %}  