{% extends 'base.html' %}

{% block page_title %}All Songs {% endblock %}

{% block content %}

        <h2 class="title">All Songs</h2>
    <hr>

    <p class="p-strong">Sort by Title:</p>
    <ul class="filter">
    <li><a href="?q=a">A</a></li>
    <li><a href="?q=b">B</a></li>
    <li><a href="?q=c">C</a></li>
    <li><a href="?q=e">E</a></li>
    <li><a href="?q=f">F</a></li>
    <li><a href="?q=g">G</a></li>
    <li><a href="?q=h">H</a></li>
    <li><a href="?q=i">I</a></li>
    <li><a href="?q=j">J</a></li>
    <li><a href="?q=k">K</a></li>
    <li><a href="?q=l">L</a></li>
    <li><a href="?q=m">M</a></li>
    <li><a href="?q=n">N</a></li>
    <li><a href="?q=o">O</a></li>
    <li><a href="?q=p">P</a></li>
    <li><a href="?q=q">Q</a></li>
    <li><a href="?q=r">R</a></li>
    <li><a href="?q=s">S</a></li>
    <li><a href="?q=t">T</a></li>
    <li><a href="?q=u">U</a></li>
    <li><a href="?q=v">V</a></li>
    <li><a href="?q=w">W</a></li>
    <li><a href="?q=x">X</a></li>
    <li><a href="?q=y">Y</a></li>
    <li><a href="?q=z">Z</a></li>
    <li><a href="?q=1">1</a></li>
    <li><a href="?q=2">2</a></li>
    <li><a href="?q=3">3</a></li>
    <li><a href="?q=4">4</a></li>
    <li><a href="?q=5">5</a></li>
    <li><a href="?q=6">6</a></li>
    <li><a href="?q=7">7</a></li>
    <li><a href="?q=8">8</a></li>
    <li><a href="?q=9">9</a></li>

    <li><a href="{% url 'song_index' %}">View All</a></li>
    </ul>

<div class="dropdown sort-by-key">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="btn btn-primary btn-xs">
   Filter by Key
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a href="?key=C">C</a></li>
    <li><a href="?key=C%23">C#</a></li>
    <li><a href="?key=D">D</a></li>
    <li><a href="?key=D%23">D#</a></li>
    <li><a href="?key=E">E</a></li>
    <li><a href="?key=F">F</a></li>
    <li><a href="?key=F%23">F#</a></li>
    <li><a href="?key=G">G</a></li>
    <li><a href="?key=G%23">G#</a></li>
    <li><a href="?key=A">A</a></li>
    <li><a href="?key=A%23">A#</a></li>
    <li><a href="?key=B">F</a></li>
  </ul>
</div>



        <ul class="list alt-list">

        {% for song in songs %}
           <li> <a href="{% url 'song_detail' song.slug %}"><strong>{{ song.title }}</strong> </a> by <a href="{% url 'artist_detail' song.artist.slug %}"><em>{{ song.artist }}</em></a></li>
        {% endfor %}
    </ul>


<div class="col-md-12">
            <div class="pagination">
        <span class="step-links">

            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-default">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-default">next</a>
            {% endif %}
        </span>
    </div>

    </div>





{% endblock %}

{% block sidebar %}

<h4>Most Viewed Songs</h4>

<ul class="list popular">
     {% for song in pop_songs %}
    <li><a href="{% url 'song_detail' song.slug %}">{{ song.title }}</a></li>
{% endfor %}
</ul>

{% endblock %}