{% extends 'base.html' %}


{% block page_title %}{{ song.title }} by {{ song.artist}} Chords {% endblock %}

{% block content %}

    <h2 class="title">{{ song.title }}</h2>
    <div class="meta-div">
    <ul class="list meta">
    <li>Added by: {{ song.user }}</li>
    <li>Artist: <a href="{% url 'artist_detail' song.artist.slug %}"><em>{{ song.artist }}</em></a></li>

    <li class="tags">Tagged as: {% for t in song.tags.all %}
        <a href="{% url 'tag_detail' t.slug %}">{{ t }}</a>
        {% endfor %}
    </li>

      <li class="meta">Key: {{ song.song_key }}</li>
    </ul>
  
    </div>

    <div class="song-entry">
   <pre data-key="{{ song.song_key }}">{{ song.body }}
    </pre>
    </div>
    <p class="views">Views: {{ song.views }}</p>

{% endblock %}
{% block sidebar %}
<h4>Most Viewed Songs</h4>

<ul class="list popular">
     {% for song in pop_songs %}
    <li><a href="{% url 'song_detail' song.slug %}">{{ song.title }}</a></li>
{% endfor %}
</ul>

{% endblock %}

{% block js %}
   <script type="text/javascript" src="/static/js/jquery.transposer.js"></script>
  <script type="text/javascript">
    $(function() {
    	$("pre").transpose();
    });
  </script>
{% endblock %}

