{% extends 'base.html' %}


{% block page_title %}Transpose {% endblock %}

{% block content %}

    <h2 class="title">Transpose</h2>
    <div class="row">
      <div class="col-md-8">
        <form>
            <div class="form-group">
                <label>Song Key:</label>
              <select name="key" class="form-control">
                  <option value="C">C</option>
                  <option value="C#">C#</option>
                  <option value="D">D</option>
                  <option value="D#">D#</option>
                  <option value="E">E</option>
                  <option value="F">F</option>
                  <option value="F#">F#</option>
                  <option value="G">G</option>
                  <option value="G#">G#</option>
                  <option value="A">A</option>
                  <option value="A#">A#</option>
                  <option value="B">B</option>
              </select>
            </div>
            <div class="form-group">
                <label>Chords:</label>
                <textarea name="body" class="form-control" id="tbody" placeholder="Type the chords you want to transpose" >{% if body %}{{body}}{% endif %}</textarea>
                <small class="italic">*Make sure that there are at least 2 spaces between the chords e.g &nbsp; C&nbsp;&nbsp;&nbsp;Am&nbsp;&nbsp;&nbsp;  F&nbsp;&nbsp;&nbsp;  G&nbsp;&nbsp;&nbsp;</small>
            </div>
                <input type="submit" class="btn btn-danger">
        </form>
      </div>
    </div><!-- end row -->

    <div class="song-entry">
   <pre data-key="{{key}}">
       {% if body %}
            {{ body }}
       {% endif %}
    </pre>
    </div>

{% endblock %}
{% block sidebar %}
<h4>Most Viewed Songs</h4>

<ul class="list popular">
     {% for song in pop_songs %}
    <li><a href="{% url 'song_detail' song.slug %}">{{ song.title }}</a></li>
{% endfor %}
</ul>

{% endblock %}

{% block js %}
   <script type="text/javascript" src="/static/js/jquery.transposer.js"></script>
  <script type="text/javascript">
    $(function() {
    	$("pre").transpose();
    });
  </script>
{% endblock %}
