{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block page_title %}Update {{song.title}} {% endblock %}

{% block content %}
<div class="col-md-8">
<form action="" method="POST">

{% csrf_token %}

{{ form|crispy}}



<input type="submit" value="Update" class="btn btn-default">

</form>
</div>



{% endblock %}