{% extends 'base.html' %}

{% block page_title %}{{ artist.name }} {% endblock %}

{% block content %}

    <h2 class="title">{{ artist.name }}</h2>
    <ul class="list alt-list">
    {% if artist.song_set.all %}
    {% for song in artist.song_set.all %}
        <li><a href="{% url 'song_detail' song.slug %}">{{ song.title }}</a></li>
    {% endfor %}
    {% else %}
    <p class="notice">No songs found for {{ artist.name }}.<p>
    {% endif %}
    </ul>


{% endblock %}
