{% extends 'base.html' %}

{% block page_title %}Artist List {% endblock %}

{% block content %}

    <h2 class="title">Artists</h2>
    <ul class="list alt-list">

    {% for artist in artists %}
        <li><a href="/artists/{{ artist.slug }}/">{{ artist.name }}</a></li>

    {% endfor %}

    </ul>


    <div class="col-md-12">
            <div class="pagination">
        <span class="step-links">

            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-default">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-default">next</a>
            {% endif %}
        </span>
    </div>

    </div>


{% endblock %}