{% extends 'base.html' %}

{% block page_title %}Search {% endblock %}

{% block content %}

        <h2 class="title">You have searched for : "{{ q }}"</h2>
    <hr>
        <ul class="list">

        {% if songs%}

        {% for song in songs %}
           <li> <a href="{% url 'song_detail' song.slug %}"><strong>{{ song.title }}</strong> </a> by <a href="{% url 'artist_detail' song.artist.slug %}"><em>{{ song.artist }}</em></a></li>
        {% endfor %}

        {% else %}
            <p>Sorry we didn't find any songs that matches "{{ q }}"</p>
        {% endif%}
    </ul>






{% endblock %}