{% extends 'base.html' %}

{% block page_title %}Opps 404!{% endblock %}


{% block content %}

        <h3 class="center">404 Error</h3>
        <p class="center">Sorry I can't the page you are looking for. Please click the back button or use the <a href="/">Search</a>.</p>

{% endblock %}

