
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Praise and Worship Song Directory">
    <meta name="author" content="Bernard Alvero">
    <meta name="google-site-verification" content="IvhIOzMFX5yCGJyUJ3_LuUx6td1mBUFE4VBIZZOkuzQ" />
    <link rel="icon" href="/static/images/favicon.ico">

    <title>{% block page_title %}{% endblock %} - Praise and Worship Song Directory</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/styles.css" rel="stylesheet">
    <!-- Transpose css -->
    <link href="/static/css/jquery.transposer.css" rel="stylesheet">

    <link href="/static/css/bootstrap-social.css" rel="stylesheet">
     <link href="/static/css/font-awesome.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "58dd5204-2a7d-491e-ac30-5dd52180505c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    
  </head>

  <body>

{% include 'nav.html' %}
 {% block banner %}

  {% endblock %}
<div id="messages">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert{{ message.tags }}"><a class="close" data-dismiss="alert">x</a> {{ message }} </div>
        {% endfor %}
    {% endif %}
</div>
    <div class="container" id="main">

    <div class="row">
    <div class="col-md-9">
        {% block content %} {% endblock %}
    </div><!-- /.col -->

    <div class="col-md-3" id="sidebar">


    {% block sidebar %}


    {% endblock %}
    </div>


    </div><!-- /row-->
     </div><!-- /.container -->

<div class="container" >
    <div class="col-md-12" id="social-div">
<span class='st_fblike_large' displayText='Facebook Like'></span>
<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_pinterest_large' displayText='Pinterest'></span>
<span class='st_sharethis_large' displayText='ShareThis'></span>
<span class='st_email_large' displayText='Email'></span>
        </div>
    </div><!-- /.container -->



{% include 'footer.html' %}
    <!-- Bootstrap core JavaScript -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

{% block js %}


{% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57184807-1', 'auto');
  ga('send', 'pageview');

</script>



  </body>
</html>
