{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Contact {% endblock %}

{% block content %}
<div class="col-md-8">

{% if confirm_message %}
<h3>{{ confirm_message }}</h3>
{% endif %}

{% if form %}
<form method="post" action="">{% csrf_token %}
{{ form|crispy }}
<br>
<div class="controls">
<input type="submit" class="btn btn-info">
</div>

</form>
{% endif %}
</div>
</div>

{% endblock %}