
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            <ul class="list">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'song_index'%}">Songs</a></li>
            <li><a href="{% url 'artist_index'%}">Artists</a></li>
            <li><a href="{% url 'contact'%}">Contact</a></li>
            </ul>
            
            </div>
             <div class="col-md-4">

             </div>

            <div class="col-md-4">
            <h4>About PNWChords</h4>
            <p>This website is for all Christian musicians out there. I hope this will help you in Praising and Worshiping Jesus through music.</p>
            <p>Contents and other features are being added regularly, so please check back frequently.</p>

            </div>
            <div class="col-md-12 center">
                <a href="/">&copy {% now "Y" %} PNWChords</a> - Praise and Worship Song Directory
                <p >
                <ul class="social">
                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
                </ul>
                </p>
            </div>
        </div>
    </div>


</footer>