 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/static/images/logo.png" id="logo"></span></a>
        </div>

        {% url 'song_index' as songs%}
        {% url 'artist_index' as artists %}
        {% url 'song_add' as song_add %}
          {% url 'transpose' as transpose %}
        {% url 'contact' as contact %}
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li {%if request.path == songs %}class="active" {%endif %}>
            <a href="{% url 'song_index' %}" class="active">Songs</a></li>
            <li {%if request.path == artists %}class="active" {%endif %}>
            <a href="{% url 'artist_index' %}">Artists</a></li>
              <li {%if request.path == transpose %}class="active" {%endif %}>
            <a href="{% url 'transpose' %}">Transpose</a></li>
            <li {%if request.path == song_add %}class="active" {%endif %}>
            <a href="{% url 'song_add' %}">Add Song</a></li>

            <li {%if request.path == contact %}class="active" {%endif %}>
            <a href="/contact/">Contact</a></li>
                <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
             {% if not request.user.is_authenticated %}
        
             
                <li><a href="{% url 'account_login' %}">Login</a></li>
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
              {% else %}

                <li><a href="{% url 'user_detail' %}">My Profile</a></li>
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
            
                
              </ul>
            </li>
              {% endif %}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>