{% extends 'base.html' %}

{% block page_title %}Tagged as: {{ tag.name }} {% endblock %}

{% block content %}
    <h2 class="title">Tagged as: {{ tag.name }}</h2>
    <ul class="list alt-list">
    {% for song in tag.song_set.all %}
        <li><a href="{% url 'song_detail' song.slug %}">{{ song.title }} by <em>{{song.artist}}</em></a></li>
    {% endfor %}
    </ul>



{% endblock %}