.breadcrumb {
    margin-top: 30px;
}

h1#site-name {
    font-size: 32px !important;
    margin-top: 10px;
}

h1#site-name a:hover {
    text-decoration: none;
}

a {
    text-decoration: none !important;
}

a.addlink:hover {
	color: #757575 !important;
}
