{% extends 'base.html' %}

{% block page_title %}{{ user.username }} {% endblock %}

{% block content %}
    <h4>Username: {{ user.username }}</h4>
    <a href="{% url 'account_change_password' %}">Change Password</a>
    <hr>
    <h4>My Contributions</h4>
    <ul class="list">
    {% for song in user.song_set.all %}
        <li><a href="{% url 'song_detail' song.slug %}">{{ song.title }} by <em>{{song.artist}}</em></a> | <a href="{% url 'song_update' song.slug %}" class="edit">Edit</a></li>
    {% endfor %}
    </ul>




{% endblock %}